<nav class="navbar navbar-expand navbar-light bg-warning justify-content-between">
    <a href="/" class="navbar-brand">Cyll</a>

    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>