<div class="row text-right">
    <div class="card mt-5 mx-auto bg-warning col-10">
        <div class="card-body py-2">
            <form>
                <div class="row">
                    <!-- Title -->
                    <div class="col-12 col-md-5 mb-1">
                        <input 
                            class="form-control"
                            type="text" 
                            name="newPostTitle" 
                            id="newPostTitle"
                            placeholder="Title here"
                            autocomplete="off"
                        >
                    </div>
                </div>
                <div class="row justify-content-between row-cols-1 row-sm-cols-2">
                    <!-- Content -->
                    <div class="col-12 col-md-9">
                        <input 
                            class="form-control"
                            type="text" 
                            name="newPostContent" 
                            id="newPostContent"
                            placeholder="Write Something!"
                            autocomplete="off"
                        >
                    </div>
                    <div class="col col-md-3 py-1 py-sm-0">
                        <button 
                        type="submit"
                        class="btn btn-outline-primary col-md-9 col"
                        id="newPostSubmit"
                        >
                        Post
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/createPost.js" type="text/javascript"></script>