<nav class="navbar navbar-expand navbar-light bg-warning justify-content-between">
    <a href="/" class="navbar-brand">Cyll</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/profile">Profile</a>
        </li>
    </ul>

    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>