<script defer type="module" src="/javascripts/loadPosts.js"></script>
<div class="container">
    <%- include('./partials/postbox') %> 
    <div id="postBasket">
        <p class="text-muted text-center mt-5" id="load-indicator">Please Wait...</p>
        
    </div>
</div>