<div class="container mt-5">
    <div class="card m-auto">
        <div class="card-body">
            <h3>Welcome to Cyll's Intranet</h3>
            <p>This is a mock Intranet for Cyll Inc.</p>
            <hr>
        
            <div class="row">
                <div class="col text-center">
                    <p class="lead">Click here to Log In</p>
                    <a href="/login">
                        <button class="btn btn-secondary">Log In</button>
                    </a>
                </div>
                <div class="col text-center">
                    <p class="lead">Click here to Sign Up</p>
                    <a href="/signup">
                        <button class="btn btn-primary">Sign Up</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>